#background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to left, rgb(200, 44, 62), rgb(216, 232, 77));
}

#myAudio {
  display: none;
}

#mute-button {
  background-image: url('dist/pictures/mute.png');
  content: "";
  margin-top: 45%;
  margin-left: 80%;
  z-index: 10;
  width: 3%;
}
//-------------------------start div---------------------------------//

#start-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('pictures/curtain.png');
  background-size: 56%;
  width: 90%;
  height: 80%;
  z-index: 5;
  margin-bottom: 41%;
  border-radius: 20px;
  transform: translateY(50%);
  // visibility: hidden;
}

#start-div.move-up {
  animation: move-up 2s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(50%);
  }
  100% {
    opacity: .5;
    transform: translateY(-100%);
  }
}

#click-me {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #ba2a25;
  height: 48px;
  :hover{
      transform: scale(1.04);
      background-color: #08983b;
  }

}
//----------------------------------innerdiv1---------------------------------//
.inner-div1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  z-index: 4;
  background-image: url('pictures/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.png');
  background-size: cover;
  background-position: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgb(245, 218, 63);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px;
  // visibility: hidden;
}

.menu-buttons {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  left: 45%;
}

#settings-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#inner-div-settings {
  display: none;
  position: absolute;
  font-size: 15px;
  background-color: pink;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  z-index: 1;
}

#settings-button {
  position: relative;
}

#settings-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


#title {
  position: relative;
  bottom: 140px; /* Adjust this value as needed */
  left: 0%;
}



#play-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  top: 10px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#play-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: settings-animation 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#play-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.ready-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  z-index: 3;
  background-image: url('pictures/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.png');
  background-size: cover;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px;
  // visibility: hidden;
}

.inner-div1 span {
  margin-top: -30%;
  position: absolute;
}

#settings-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  top: 10px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#settings-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: settings-animation 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes settings-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#settings-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



#htp-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#htp-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation:  settings-animation 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#htp-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#play-button {
  display: flex;
  position: absolute;
  top: 35%;
}


.logos {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 20%;
  margin-left: 5%;
  margin-top: 51%;
}

#github {
  width: 80%;
}

#linkedin {
  width: 30%;
}
//----------------------------------readytimer-------------------------------//
.ready-timer {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
  margin-top: 20%;
  color:#fffb00
}
//---------------------------------inner-div2------------------------------/
.inner-div2 {
  display: block;
  position: absolute;
  justify-content: center;
  background-image: url('pictures/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.png');
  background-size: cover;
  color:#fffb00;
  align-items: center;
  font-family: 'Bebas Neue';
  font-weight: bold;
  width: 90%;
  height: 80%;
  z-index: 2;
  border-radius: 20px;
  
  // visibility: hidden;
}

.counter-holder {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border-color: rgb(111, 108, 108);
  border-style: solid;
  border-width: 3px;
}

.question {
  display: block;
  position: relative;
  top: 20%;
  margin: auto;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius:10px;
  border-width: 3px;
  border-color: rgb(111, 108, 108);
  width: 30%;
}


#lyrics {
  display: block;
  position: relative;
  align-items: center;
  top: 30%;
  left: 35%;
  width: 30%;
  border-bottom: 3px solid rgb(111, 108, 108);
}


#play-area {
  display:flex;
  justify-content: space-evenly;
  position: relative;
  top: 40%;
  width: 100%;
  height: 20%;
}



#game-timer {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#lifelines {
  display: flex;
  justify-content: space-evenly; /* center horizontally */
  align-items: center; /* center vertically */
  position: relative;
  width: 40;
  top:75%;
}

.choice {
  width: 10%;
  height: 30%;
}

.button-disabled {
  opacity: 0.1;
  pointer-events: none;
}
//--------------------------------inner div3---------------------------//
.inner-div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: url('pictures/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.png');
  background-size: cover;
  color: #99cb8d;
  width: 90%;
  height: 80%;
  z-index: 1;
  border-radius: 20px;
  // visibility: hidden;
}

.counterHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#answer-result {
  display:flex;
  flex-direction: column;
}

.inner-div3 #score {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#next-question {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:70%;
  right: 47.5%;
  transform: translateY(-50%);
}

//----------------------------innerdiv4----------------------------------//
.inner-div4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: url('pictures/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.png');
  background-size: cover;
  width: 90%;
  height: 80%;
  margin: auto;
  z-index: 0;
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.congrats-text {
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(89, 143, 219);
  text-align: center;
}

#play-again{
  margin-top: 340px;
  margin-left: 46.2%;
}

.final-score {
  margin: 0;
  font-size: 36px;
  color: rgb(229, 235, 49);
  text-align: center;
  top:40%;
}
