@import "./styles/div1.scss";

#item {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}